



.icon{
    color: #6969E3;
    padding-inline-end: 0.5rem;
}

.advertise{
 
    display:flex;
    align-items: center;
    flex-direction:column;
    &__slogan{
        font-size:1.2rem;
        text-align: center;
        padding-bottom: 2rem;
    }

}