<div  class="advertise">
<h1 class="header" >Create an <p>account</p></h1>

<h6 class="advertise__slogan"> <i class="fa fa-shield  icon" aria-hidden="true"></i> Secure payment through <p style="padding-inline-start: 1.8rem;">reliable partners</p></h6>
<h6 class="advertise__slogan"><i class="fa fa-fast-forward icon" aria-hidden="true"></i>Fast transfers</h6>
<h6 class="advertise__slogan"><i class="fa fa-money icon" aria-hidden="true"></i>Fair commissions</h6>
<h6 class="advertise__slogan"><i class="fa fa-star icon" aria-hidden="true"></i>Best available rates </h6>
<h6 class="advertise__slogan"><i class="fa fa-thumbs-o-up icon" aria-hidden="true"></i>Convenience</h6>







</div>
