.advertise:not(:last-child){
    padding-bottom: 2rem;
 
 
}


.advertise{
    
    // border: solid;
    // text-align: left;
      font-size:1.2rem
}
.icon{
    color: #6969E3;
    padding-inline-end: 0.5rem;
}